/* BRØDKRUMMESTI */
ul.breadcrum {
  padding: 10px 16px;
  list-style: none;
  margin-left: 50px;
}
ul.breadcrum li {
  display: inline;
  font-size: 18px;
}
ul.breadcrum li + li:before {
  padding: 8px;
  color: #b8b8b8;
  content: "/\00a0";
}
ul.breadcrum li a {
  color: #b8b8b8;
  text-decoration: none;
}
ul.breadcrum li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.topPadding {
  padding-top: 3rem;
}

.categoriesImg {
  align-items: center;
  justify-content: center;
}

.genreNameCategories {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lato";
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.read {
  color: #3dd67c;
}

.arrow {
  border: solid #3dd67c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
