/* BRØDKRUMMESTI */
ul.breadcrum {
  padding: 10px 16px;
  list-style: none;
  margin-left: 50px;
}
ul.breadcrum li {
  display: inline;
  font-size: 18px;
}
ul.breadcrum li + li:before {
  padding: 8px;
  color: #b8b8b8;
  content: "/\00a0";
}
ul.breadcrum li a {
  color: #b8b8b8;
  text-decoration: none;
}
ul.breadcrum li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.topPadding {
  padding-top: 3rem;
}

.categoriesImg {
  align-items: center;
  justify-content: center;
}

.genreNameCategories {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Lato";
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.read {
  color: #3dd67c;
}

.arrow {
  border: solid #3dd67c;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.hideWhenWeb {
  display: none;
}

.headerGrid > * {
  display: flex;
}

@media (max-width: 800px) {
  .indexWelcome {
    font-size: 2rem;
  }

  .headerGrid {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 11;
    grid-row: 2 / 4;
  }

  .simpleGrid {
    display: grid;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    color: white;
  }

  .indexImage {
    grid-column: 1;
    grid-row: 1;
  }

  .indexWelcome {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
    display: flex;
  }

  .categoriesMargin {
    display: block;
  }

  .aboutUsHeading {
    font-size: 2rem;
  }

  .hideWhenMobile {
    display: none;
  }

  .genreName {
    font-size: 2rem;
  }

  .gridMaster {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
  }

  .heroImg {
    grid-column: 1 / 11;
    grid-row: 1 / 21;
    object-fit: cover;
    object-position: top;
  }

  .indexWelcome {
    color: white;
    font-size: 3rem;
    grid-row: 10;
    grid-column: 2 / 10;
    white-space: pre-wrap;
    text-align: center;
  }

  .breakline {
    border-bottom: 3px solid #3dd67c;
    margin-bottom: 1.5rem;
    grid-row: 11;
    grid-column: 2 / 10;
  }

  .pitch {
    justify-content: center;
    color: white;
    line-height: 1.8;
    font-family: "Montserrat", sans-serif;
    grid-row: 12;
    grid-column: 2 / 10;
  }

  .headerGrid {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 11;
    grid-row: 2 / 4;
  }

  .headerGrid * {
    text-decoration: none;
  }

  .headerLogo {
    padding-left: 0;
  }

  .search {
    padding-right: 12%;
  }

  .questionMark {
    display: flex;
    padding-left: 25%;
    color: black;
  }

  .burgerMenu {
    padding-right: 25%;
    display: flex;
    color: black;
  }
}
