body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding-top: 150px;
  margin-left: 50px;
  text-align: center;
}

p {
  color: white;
  font-family: "Montserrat", sans-serif;
  max-width: 65ch;
  margin-left: 50px;
}

.grid_1-1 img {
  width: 100%;
}
.headerGrid {
  position: absolute;
  top: 5%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  padding-block: 1rem;
  font-family: "Montserrat", sans-serif;
}

.headerGrid div {
  display: flex;
}

.logo {
  justify-content: flex-start;
  padding-left: 5.5rem;
  width: 20%;
}

.navigationItems {
  justify-content: center;
  gap: 2.5rem;
}

.navigationItems a {
  text-decoration: none;
  color: black;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form {
  padding-top: 20px;
  display: grid;
  gap: 1rem;
  margin-left: 50px;
}

.form div {
  display: grid;
  width: 70%;
}

label {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

input {
  padding: 10px;
}

button {
  border: none;
  max-width: 10rem;
  padding: 15px;
  border-radius: 20px;
  background-color: #3dd67c;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 3rem;
  text-align: center;
  background-color: white;
  width: 100vw;
}

.footerGrid h5 {
  font-size: 1.5rem;
}

footer p {
  color: black;
}

.breakline {
  border-bottom: 3px solid #3dd67c;
  margin-bottom: 1.5rem;
}
