/****** GENERAL ******/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

/****** HEADER ******/

.headerGrid {
  position: absolute;
  top: 5%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  padding-block: 1rem;
}

.headerGrid div {
  display: flex;
}

.logo {
  justify-content: flex-start;
  padding-left: 5.5rem;
}

.navigationItems {
  justify-content: center;
  gap: 2.5rem;
}

.navigationItems a {
  text-decoration: none;
  color: black;
}

.search {
  justify-content: flex-end;
  padding-right: 5.5rem;
}

/****** MAIN ******/

/** Section: Welcome **/

.simpleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  background-image: url(img/wallpaper.png);
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.simpleGrid_container {
  padding-left: 12%;
}

.welcomeHeading {
  font-size: 5rem;
  font-family: "Lato";
}

/** Section: About Us **/

.aboutUs {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: black;
  color: white;
  padding-block: 4rem;
}

.aboutUsHeading {
  text-align: center;
  font-size: 3rem;
  font-family: "Lato";
}

.aboutUS_gridPosition {
  grid-column-start: 2;
}

/** Section: Movie Suggestion **/

.movieSuggestion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.movieSuggestionPoster {
  background-image: url(img/exorcist.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  border-right: 10px solid #3dd67c;
}

.movieSuggestionGrid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.movieSuggestionTitle {
  font-size: 5rem;
  padding-bottom: 2rem;
  font-weight: bold;
  font-family: "Lato";
}

.whatToWatchHeading {
  font-size: 3rem;
  font-weight: lighter;
  font-family: "Lato";
}

.whatToWatchText {
  margin-inline: 15%;
}

.buttonFlex {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.streamButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 250px;
  background-color: #3dd67c;
  border: 0px solid #3dd67c;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-family: "Lato";
}

.streamButton:hover {
  background-color: white;
  color: #3dd67c;
  border: 3px solid #3dd67c;
}

/** Section: Categories **/

.categories {
  background-color: black;
  color: white;
}

.categoriesHeading {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-family: "Lato";
}

.categoriesMargin {
  margin-inline: 12%;
}

.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}

.categoriesGrid a {
  color: white;
  text-decoration: none;
}

.categoryImg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoryImg:hover img {
  opacity: 50%;
  -webkit-filter: sepia(100%) saturate(200%) brightness(100%) contrast(2);
  filter: sepia(100%) saturate(200%) brightness(100%) contrast(2);
}

.categoryImg:hover p {
  color: #3dd67c;
}

.genreName {
  z-index: 1;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Lato";
}

/****** FOOTER ******/

.footerGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 12% 0 12% 0;
  padding-bottom: 3rem;
  text-align: center;
  background-color: white;
  width: 100vw;
}

.footerGrid h5 {
  font-size: 1.5rem;
}

/****** MISCELLANEOUS ******/
.hide {
  display: none;
}

.alignText {
  text-align: center;
}

.breakline {
  border-bottom: 3px solid #3dd67c;
  margin-bottom: 1.5rem;
}

.breakline2 {
  border-bottom: 6px solid #3dd67c;
  margin-bottom: 5rem;
}
/****** movie.html ******/

.movieBackground {
  margin: 0;
  background-color: black;
}
.headerGrid2 {
  position: relative;
  margin-top: 2.8%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  background-color: white;
  padding-block: 1rem;
}

.headerGrid2 div {
  display: flex;
}

.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 60px 16px 0px 16px;
  list-style: none;
}
.breadcrumb li + li:before {
  padding: 8px;
  color: grey;
  content: "|\00a0";
}

.breadcrumb a:link,
.breadcrumb a:visited {
  text-decoration: none;
  color: grey;
}
.movieDescription {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2.title {
  text-align: center;
  font-size: 3rem;
  margin-top: 10%;
  font-family: "Lato";
  color: white;
}

hr {
  border-bottom: 3px solid #3dd67c;
  width: 30rem;
  margin: auto;
}

.movieDescription {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4%;
}
.movieInfo {
  background-color: white;
  padding-left: 10%;
  border-left: 5px solid #3dd67c;
}
.movieInfo {
  padding-top: 15%;
}
.movieDescription img {
  border-right: 5px solid #3dd67c;
}
.movieDescription p {
  max-width: 65ch;
  padding-bottom: 2rem;
}

.streamingButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5%;
  gap: 1rem;
}

.movieDescription .streaming2 {
  height: 3rem;
  line-height: 3rem;
  background-color: #3dd67c;
  max-width: 10rem;
  border-radius: 30px;
  text-align: center;
}
.movieDescription .streaming {
  height: 3rem;
  line-height: 3rem;
  background-color: #3dd67c;
  max-width: 10rem;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 2rem;
}

.streamingButtons a:link,
.streamingButtons a:visited {
  text-decoration: none;
  color: white;
}

.suggestionsHeading {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-family: "Lato";
}

.suggestionsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  padding-top: 1rem;
  padding-bottom: 8rem;
}
.suggestionsGrid a:link,
.suggestionsGrid a:visited {
  text-decoration: none;
  color: white;
}
.suggestionsGrid .title {
  padding-top: 20px;
  font-size: 1.5rem;
}
.suggestionsGrid .readmore {
  color: #3dd67c;
  text-decoration: underline;
}
footer {
  margin: 0;
}
